body {
  margin: 0;
  font-family: 'Amazon Ember', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* font-family: 'Amazon Ember', sans-serif;
font-family: 'Amazon Ember Cd RC', sans-serif;
font-family: 'Amazon Ember Display', sans-serif;
font-family: 'Amazon Ember Duospace', sans-serif;
font-family: 'Amazon Ember Mono', sans-serif;
font-family: 'Amazon Ember V2', sans-serif; */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
