.product-img {
  width: 28vw;
  height: auto;
}

.p-list-item {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  align-items: center;
  padding-inline: 4px;
}

.product-img-container {
  width: fit-content;
  height: fit-content;
}

.p-description {
  padding-left: 15px;
}

.p-description-dark {
  padding-left: 15px;
  color: white;
}

.item-rating {
  display: flex;
  flex-direction: row;
  font-size: small;
}
