.product {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
}

.rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: small;
}

.rating span {
  padding-right: 4vw;
}

.product img {
  height: 40vh;
  object-fit: contain;
  margin-bottom: 20px;
}

.top {
  display: flex;
  flex-direction: column;
}

.product button {
  width: 100%;
  height: 45px;
  background-color: rgb(245, 201, 28);
  border-style: none;
  border-radius: 10px;
}

.block {
  background-color: white;
  width: 100%;
  margin-bottom: 5px;
}

.last {
  margin-bottom: 0;
}
